.App {
  height: 100vh;
  background-color: #ffffff;
  font-family: sans-serif;
}

/* Colors */
/* 
White - #ffffff
Gray - #5b5b5b
Header Light Blue = #9fcdc9
Light Blue - #d1ebe8
Schedule Gray - #ededed
Schedule White - #f7f7f7
*/

h1 {
  font-weight: 300;
  font-size: 35px;
  margin: 0px;
}

p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.pointer {
  cursor: pointer;
}

/* Header */
.Header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 6vh;
  background-color: #5b5b5b;
  padding: 0px 15px;
}

.header-left {
  display: flex;
}

.baby-img-container {
}

.header-icon-container {
  height: 28px;
  width: 28px;
  padding: 5px;
}

.header-icon {
  height: 100% !important;
  width: 100% !important;
  color: #9fcdc9 !important;
}

.header-right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Main {
  padding: 10px 20px;
  overflow: hidden;
}

.title-group {
  padding-bottom: 15px;
}

.age {
  display: flex;
  flex-direction: row wrap;
  font-size: 13px;
  font-weight: 300;
}

.age li {
  padding-right: 5px;
}
