.App {
  height: 100vh;
  background-color: #ffffff;
  font-family: sans-serif;
  color: #5b5b5b;
}

/* Colors */
/* 
White - #ffffff
Gray - #5b5b5b
Light Blue (Icons) = #9ad2cb
Month,Weeks,Days - #5a978f
Light Gray (Schedule) - #f7f7f7
darker Gray (Schedule) - #eeeded

Color Wheel:
pink - #DB5461
yellow - #FED766
blue - #3581B8
brown - #AA8574
purple - #7E4E70
blue - #259393
green - #04724D
red - #830B33

*/

h1 {
  font-weight: 300;
  font-size: 35px;
  margin: 0px;
  color: #5b5b5b;
}

h2 {
  font-weight: 300;
  font-size: 17px;
  background-color: #d1ebe8;
  padding: 2px;
  width: 100vw;
}

p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.pointer {
  cursor: pointer;
}

/* Header */
.Header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 6vh;
  background-color: #5b5b5b;
  padding: 0px 15px;
}

.header-left {
  display: flex;
}

.header-icon-container {
  height: 28px;
  width: 28px;
  padding: 5px;
}

.header-icon {
  height: 100% !important;
  width: 100% !important;
  color: #9ad2cb !important;
}

.header-right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Main {
  overflow: hidden;
}

.title-group {
  padding: 10px 20px 15px 20px;
}

.age {
  display: flex;
  flex-direction: row wrap;
  font-size: 13px;
  font-weight: 300;
}

.age li {
  padding-right: 5px;
  color: #5a978f;
}

/* Schedule */

.date {
  margin: 0px;
  padding: 4px 20px;
}

.entry {
  display: flex;
  flex-flow: row nowrap;
}

.gray {
  background-color: #eeeded;
}

.smoke {
  background-color: #f7f7f7;
}

.schedule-left {
  padding: 4px 20px;
  flex: 0.85;
}

.schedule-time-container {
  display: flex;
  flex-flow: row wrap;
}

.schedule-time {
  margin: 0px;
  padding: 0px;
  font-weight: 300;
  font-size: 13px;
}

.schedule-right {
  flex: 1.15;
  padding: 4px 20px 4px 0px;
}

.schedule-title-container {
  display: flex;
  flex-flow: row nowrap;
}

.schedule-title {
  font-weight: 400;
  font-size: 15px;
}

.schedule-notes-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.schedule-notes {
  font-weight: 300;
  font-size: 12px;
}
