body {
  background-color: #5b5b5b;
}

.App {
  height: 100vh;
  background-color: #5b5b5b;
  font-family: sans-serif;
  color: #5b5b5b;
  width: 100vw;
}

/* Colors */
/* 
White - #ffffff
Gray - #5b5b5b
Light Blue (Icons) = #9ad2cb
Month,Weeks,Days - #5a978f
Light Gray (Schedule) - #f7f7f7
darker Gray (Schedule) - #eeeded

Color Wheel:
pink - #DB5461
yellow/pumping - #FED766
blue/bottle  - #3581B8
brown/diaper - #AA8574
purple/sleep - #7E4E70
blue/bath - #259393
green/medicine - #04724D
red/temperature - #830B33

*/

h1 {
  font-weight: 300;
  font-size: 35px;
  margin: 0px;
  color: #5b5b5b;
}

h2 {
  font-weight: 300;
  font-size: 17px;
  background-color: #d1ebe8;
  padding: 2px;
  width: 100vw;
}

p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.pointer {
  cursor: pointer;
}

/* Header */
.Header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 40px;
  background-color: #5b5b5b;
  position: fixed;
  width: 100%;
}

.header-left {
  display: flex;
}

.header-icon-container {
  height: 28px;
  width: 28px;
  padding: 5px;
}

.header-icon {
  height: 100% !important;
  width: 100% !important;
  color: #9ad2cb !important;
}

.header-right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Main {
  overflow: hidden;
  background-color: #ffffff;
}

.title-group {
  padding: 50px 20px 15px 20px;
}

.age {
  display: flex;
  flex-direction: row wrap;
  font-size: 13px;
  font-weight: 300;
}

.age li {
  padding-right: 5px;
  color: #5a978f;
}

/* Schedule */

.Schedule {
  padding-bottom: 150px;
}

.date {
  margin: 0px;
  padding: 4px 20px;
}

.entry {
  display: flex;
  flex-flow: row nowrap;
}

.gray {
  background-color: #eeeded;
}

.smoke {
  background-color: #f7f7f7;
}

.schedule-left {
  padding: 4px 20px;
  flex: 0.85;
}

.schedule-time-container {
  display: flex;
  flex-flow: row wrap;
}

.schedule-time {
  margin: 0px;
  padding: 0px;
  font-weight: 300;
  font-size: 13px;
}

.schedule-right {
  flex: 1.15;
  padding: 4px 20px 4px 0px;
}

.schedule-title-container {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
}

.schedule-title-color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.schedule-title {
  font-weight: 400;
  font-size: 15px;
}

.schedule-notes-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.schedule-notes {
  font-weight: 300;
  font-size: 12px;
}

/* Ad space */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #5b5b5b;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
  height: 50px;
}

.footer-icons-left {
  width: 10px;
  height: 10px;
}

.speed-dial-placement {
  padding-bottom: 58px !important;
}

.footer-icons-right {
  width: 10px;
  height: 10px;
  color: blue;
}

.ad {
  border-top: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-weight: bold;
}

.MuiSpeedDial-root {
  padding-bottom: 58px;
}
